/** General **/
body, html {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Outfit;
}

body {
  filter: brightness(0) blur(1px);
  transition: all 1.5s ease-in-out;
}

.black-bg {
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -20;
}

.bg {
  position: fixed;
  filter: brightness(0.4) blur(2px);
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -10;
  transition: all 1.5s ease;
}

/** Welcoming user **/
#welcome-screen {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  top: 36%;
  left: 5%;
  color: white;
}

#welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
  width: 90%;
   transition: all 0.5s ease-in;
}

#welcome p {
  font-size: 18px;
  margin-top: 0px;
  font-weight: 200;
  opacity: 0.36;
}

#welcome h3 {
  font-size: 45px;
  margin-bottom: 1px;
  font-weight: 600;
}
.logo {
  font-size: 20px;
  transform: translateY(-28px);
  font-weight: 400;
  opacity: 0.74;
  transition: opacity 0.5s ease;
}
.screen {
  transition: opacity 1s ease, transform 1s ease;
}
/** Countdown screen **/
#countdown-screen {
  display: flex;
  flex-direction: column;
  gap: 5px;
  opacity: 0.86;
  font-family: Outfit;
  text-align: center;
    max-width: 600px;
    position: relative;
    top: 35%;
    left: 0;
    color: white;
    transition: all 1s ease-in;
}

.gradient {
    background: linear-gradient(90deg,white , rgba(255, 255, 255, 0.295));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
#countdown-screen span {
  font-family: Outfit;
  opacity: 0;
  font-weight: 600;
  font-size: 35px;
   transition: opacity 1s ease;
}

#countdown-screen h3 {
  opacity: 0;
  font-size: 42px;
  margin: 0px;
  transition: opacity 1s ease;
}
#countdown-screen .first {
  font-size: 47.5px;
}
#countdown-screen .last {
  font-size: 38px;
}
/** NAvigate to questionnaire **/
.motivator-cont {
  position: relative;
  top: 38%;
  transition: opacity 1s ease;
  display: flex;
  opacity: 0;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  transition: all 1s ease;
}
.motivator {
  font-weight: 600;
  transform: translateY(40px);
  margin: 0;
  font-size: 45px;
  transition: opacity 1s ease-in;
}

.continue {
  color: white;
  transform: translateY(0px);
  opacity: 0;
  transition: opacity 1s ease-in;
  font-weight: 200;
}
/** Questionnaire screen **/
/** General **/

#questionnaire-screen {
  padding: 40px 10px;
  color: white;
  display: none;
  gap: 32px;
  flex-direction: column;
  position: relative;
  height: 100vh;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.426);
  backdrop-filter: blur(17px);
  transition: all 1s ease;
}
.questions-section {
  height: 100%;
  overflow-y: scroll;
  transition: opacity 0.5s ease;
}
.sections {
  opacity: 1;
  display: flex;
  gap: 20px;
  transition: opacity 1s ease ;
}

.sections img {
  width: 70px;
  height: 1px;
  opacity: 0.4;
  border-radius: 20px;
  transition: opacity 0.5s ease;
}

.section{
  display: none;
  flex-direction: column;
}
.genres {
  height: 100%;
}
.section h2 {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  background: linear-gradient(90deg,white , rgba(255, 255, 255, 0.404));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
 

.question {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  flex-direction: row;
  gap: 12px;
  transition: opacity 0.5s ease;
}

.question div {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.q1 p{
  padding: 22px 35px 20px 14px;
  font-size: 19px;
  width: 115px;
  transition: box-shadow 0.5s ease-in;
}

.selected {

  margin: 0;
  box-shadow: 1px 1px 17px rgba(255, 255, 255, 0.151);
  border: 1px solid rgba(255, 255, 255, 0.039);
  transition: box-shadow 0.5s ease-in-out;
}
.q2 p , .q1 p , .q2 span{
  cursor: pointer;
  font-weight: 200;
  background-color: rgba(255, 255, 255, 0.038);
  border-radius: 10px;
  opacity: 0.9;
  margin: 0;
}

.step {
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 16px;
  opacity: 0.7;
  padding: 0;
}
.p {
  font-size: 17px;

  font-weight: 200;
  opacity: 0.5;
}

/** Sections' navigation(buttons next/previous**/

.nav-buttons{
  display: flex;
  margin-top: 35px;
  margin-bottom: 70px;
  justify-content: space-between;
  transition: all 0.5s ease;
}
.div .nav-buttons {
  margin-bottom: 70px;
  margin-top: 10px;
}
.question-nav {
  font-family: Outfit;
  font-weight: 300;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.704);
  background-color: rgba(255, 255, 255, 0.051);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
.previous {
  padding: 13px 35px;
  padding-left:0px;
  opacity: 0.3;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

/**Section 1**/

#books-amount {
  font-family: outfit;
  font-weight: 200;
  font-size: 19px;
  padding-bottom: 2px;
  width: 150px;
  height: 63px;
  border-radius: 8px;
  padding-left: 15px;
  margin-top: 5px;
  transform: translateX(3px);
  background-color:#ffffff09;
  border: none;
  color: white;
  transition: all 1s ease;
}
#books-amount:focus {
  color: white;
  text-decoration: none;
  outline: none;
  width: 150px;
}
#books-amount::placeholder {
  color: rgba(255, 255, 255, 0.475);
  font-weight: 100;
}

/** Section2: Genres **/
.div {
  display: flex;
  flex-direction: column;
  gap: 30px;
 
}
#genres-pref{
  display: grid;
  opacity: 1;
  margin-top: 19px;
  width:100%;
  column-gap: 18px;
  row-gap: 14px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  transition: all 0.5s ease;
}
.q3{

  display: none;
  opacity: 0;
  margin-top: 21px;
  row-gap: 18px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px;
  transition: all 0.5s ease;
  
}
.q2 {
  transition: opacity 1.5s ease;
}

.q3 p , .q3 span{
  cursor: pointer;
  font-weight: 200;
  background-color: #ffffff09;
  border-radius: 10px;
  padding-left: 22px;
  padding-right: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 21px;
  opacity: 0.9;
  margin: 0;
  transition: box-shadow 0.5s ease;
}
.q2 p, .q2 span{
  padding-left: 22px;
  padding-right: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 21px;
  transition: box-shadow 0.5s ease;
}
.note {
  font-weight: 100;
  font-size: 20px;
  opacity: 0.5;
  margin-bottom: 5px;
}

/** Section 3: Focus time setup **/

/**Section 3: Part 1 Setting time**/
.section-main {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}
.focus-scheduler {

  align-self: center;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  text-align: center;
  transform: translateX(0px);
  z-index: 100;
  border-radius: 30px;
}

.time-box {
  font-weight: 400;
  padding: 14px 24px;
  border-radius: 16px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.812);
  cursor: pointer;
  transition: background 0.3s;
}
.part1 .scroll-picker {
  top: 120px;
}
.scroll-picker {
  position: absolute;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  transform: translateY(-10px) translateX(5px);
  height: 195px;
  flex-direction: column;
  gap: 55px;
  justify-content: center;
  overflow: hidden;
} 

.picker-columns {
  display: flex;
  gap: 20px;
  height: 100%;
  overflow: hidden;
}
.scroll-column {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 80px;
  color: white;
  font-size: 22px;
  scrollbar-width: none; 
  -ms-overflow-style: none;  
  transition: all 0.5s ease;
}

.scroll-column::-webkit-scrollbar {
  display: none; 
}

.scroll-column li {
  height: 45px;
  font-size: 30px;
  font-weight: 500;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.25s ease-in;
}

.scroll-column li.active {
  font-size: 33px;
  font-weight: bold;
  opacity: 1;
}

.fade {
  position: absolute;
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, #0a0f1d0b, transparent);
  pointer-events: none;
  z-index: 2;
}
.fade-bottom {
  top: auto;
  bottom: 0;
  background: linear-gradient(to top, #0a0f1d0a, transparent);
}


/**Section 3: Part 2 Focus duration+days(weekly frequency)choice**/

.part2{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:14px;
}

.frequency {
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: filter 0.5s ease;
}
#day-picker {
  gap: 5px;
  padding: 10px 29px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.045);
  align-self: center;
  font-weight: 300;
  font-size: 15px;
  opacity: 0.66;
  display: flex;
  transition: all 1s ease;
}
#setEveryday {
  font-weight: 100;
  opacity: 0.34;
  transform: translateY(10px);
  text-align: center;
  margin: 0;
  font-size: 18.5px;
}
.radio {
  accent-color: rgb(255, 255, 255);
}
.frequency h3 {
  cursor: pointer;
  text-align: center;
  margin-bottom:8px;
  font-weight: 100;
  opacity: 0.42;
  font-size: 14px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}
ul::-webkit-inner-spin-button,
ul::-webkit-outer-spin-button {
  opacity: 0;
  display: none;
}

#time {
  display: flex;
  margin: 0;
  margin-top: 7px;
  text-align: center;
  background-color: transparent;
  gap: 15px;
  border-radius: 20px;
  transition: filter 0.5s ease;
}
#time p{
  font-weight: 200;
  
  font-size: 19px;
  padding: 10px ;
  opacity: 0.5;
  transition: all 0.5s ease;
  cursor: pointer;
}
#time p.chosen  {
  background-color: #ffffff16;
  border-radius: 12px;
  padding: 10px;
}
.frequency p.chosen{
  background-color: #ffffff16;
  border-radius: 12px;
  padding: 15px 18px;
}
.frequency p {
  cursor: pointer;
  margin: 0;
  height: 20px;
  font-size: 16.5px;
  padding: 15px;
  transition: all 0.5s ease;
}
.time-display {
  display: flex;
  gap: 20px;
  margin: 0;
  margin-top: 8px;
}
.time-display img {
  transform: translateY(15px);
  opacity: 0.85;
  width: 28px;
  height:30px;
}

.part2 .scroll-picker{
  display: none;
  border-radius: 30px;
  margin-top: 40px;
  align-items: center;
  height: 190px;
  width: 390px;

}
.confirm-picker-btn {
  position: relative;
  cursor: pointer;
  z-index: 90;
  font-family: outfit;
  font-weight: 300;
  border: none;
  opacity: 0;
  transform:  translateX(3px);
  font-size: 19px;
  color: rgba(255, 255, 255, 0.682);
  background: none;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}
#custom-duration-picker {
  transition: opacity 2s ease;
}


/**Section 4: Motivation**/
.q4 {
  display: grid;
  grid-template-columns: repeat(1,1fr);

  column-gap: 15px;
  row-gap: 14px;
  margin-top: 28px;
}

.q4 p{
  font-weight: 200;
  cursor: pointer;

  font-size: 18.5px;
  border-radius: 12px;
  background-color: #ffffff0c;
  padding: 28px ;
  padding-left: 15px;
  margin: 0;
  opacity: 0.85;
  transition: box-shadow 0.3s ease-in;
}

/**Transitions between sections**/

.first-transition {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

/**End of Questionnaire Screen(finally...)**/

.all-set {
  display: none;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  transition: all 0.5s ease-in-out;
}
.all-set h3 , .all-set p {
color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  margin: 0;
  transition: opacity 1s ease-in-out;
}
.all-set h3 {
  font-size: 36px;
  margin: 0;
  font-weight: 400;
}
.all-set p {
  font-size: 20px;
  margin: 0;
  font-weight: 200;
}

@media (min-width:1440px) and (max-width:1900px) {
  .question-nav {
    font-size: 22px;
  }
  .div {
    gap: 55px;
  }
  .div .nav-buttons {
    margin-top: 178px;
  }
  #questionnaire-screen {
    gap: 28px;
  }
  .section h2 {
    font-size: 37px;
  }
  .step {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .q4 {
    margin-top: 44px;
  }
  .q4 p {
    width: 244px;
    padding: 35px 29px;
    font-size: 20.5px;
  }
  .q1 p {
    font-size: 22px;
    width: 142px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  #books-amount {
    width: 172px;
    height: 80px;
    font-size: 20px;
  }
  .scroll-column li {
    font-size: 33px;
    font-weight: 500;
  }
  .scroll-column li.active {
    font-size: 36px;
  }
  .part1 .scroll-picker {
    top: 135px;
  }
  .picker-columns {
    top: 135px;
    gap: 45px;
  }
  .confirm-picker-btn {
    font-size: 19px;
  }
  .q3 p, .q3 span, .q2 p, .q2 span {
    padding: 65px 0px 33px 22px;
    font-size: 22px;
    
  }
  #genres-pref {
    margin-top: 0;
  }
  .time-box {
    font-size: 37px;
  }
  .q4 {
    row-gap: 20px;
  }
  #time p {
    font-size: 22px;

  }
  #day-picker {
    padding: 15px 29px;
  }
  .frequency p {
    font-size: 20px;
  }
  #setEveryday {
    transform: translateY(10px);
    font-size: 22px;
  }
  .nav-buttons {
    margin-top: 48px;
  }
}
@media (min-width:1080px) and (max-width:1439px){
  #questionnaire-screen {
    gap: 15px;
  }
  .section h2  {
    font-size: 30.5px;

  }
  .step {
    font-size: 17px;
  }
  .time-box {
    font-size: 32px;
    font-weight: 500;
  }
  .p , .note{
    font-size: 16px;
  }
  .q1 p {
    width: 130px;
    padding: 19px 3px 19px 14px;
    font-size: 18px;
  }
  #books-amount {
    height: 50px;
    font-size: 19.5px;
  }
  .div {
    margin-top: 0;
    gap: 45px;
  }
  
  .question-nav {
    font-size: 19px;
  }
  #time p {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  #day-picker {
    padding: 12px 20px;
  }
  .frequency p {
    font-size: 17px;
  }
  #setEveryday {
    transform: translateY(4px);
    font-size: 18px;
  }
  .nav-buttons {
    margin-top: 48px;
  }
  .section-main {
    margin-top: 18px;
  }
  .q3 p, .q3 span, .q2 p, .q2 span {
   padding: 35px 0px 28px 18px;
    font-size: 19px;
  }
}
@media (min-width:768px) {
  #questionnaire-screen {
    margin-top: 0;
    width: 42%;
    padding: 50px;
    padding-right: 65px;
  }
  .questions-section {
    overflow-y: hidden;
  }
  .focus-scheduler {
    top: 250px;
  }
  .question {
    display: flex;
    gap: 15px;
  }
  .question div {
    gap: 20px;
  }
  #genres-pref , .q3 {
    height: 225px;
  }
  
  #genres-pref, .q3, .q4{
    grid-template-columns: repeat(2,1fr);
  }
  .sections img {
    width: 144px;
  }
  .section h2 {
    font-weight: 600;

  }
  .div {
    margin-top: 15px;
    gap: 67px;
  }
  .div .nav-buttons, .nav-buttons {
    margin-bottom: 0;
    margin-top: 67px;
  }
  .time-display {
    margin-top: 22px;
  }
  #time {
    gap: 20px;
  }
  #time p {
    padding: 10px 15px;
    width: unset;
  }
  #time p.chosen {
    padding: 10px 18px;
  }
  #day-picker {
    gap: 8px;
  }
  .frequency p {
    padding: 15px 19px;
  }
  .motivator {
    font-weight: 500;
    transform: translateY(40px);
    margin: 0;
    font-size: 58px;
    transition: opacity 1s ease-in;
  }
  #countdown-screen h3 {
    opacity: 0;
    font-size: 55px;
    margin: 0px;
    transition: opacity 1s ease;
  }
  .first {
    font-size: 60px;
  }
  .last {
    font-size: 50px;
  }
  #welcome h3 {
    font-size: 58px;
    margin-bottom: 1px;
    font-weight: 500;
  }
  #countdown-screen {
  display: flex;
  flex-direction: column;
  gap: 5px;
  opacity: 0.86;
  font-family: Outfit;
  text-align: center;
    max-width: 600px;
    position: relative;
    top: 25%;
    left: 27%;
    color: white;
    transition: all 1s ease-in;
}

}