body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x:hidden;
    color: white;
}
body {
  background-color: black;
  height: 200vh;
}

 .a{
    padding-top: 5px;
    font-size: 18px;
    transform: translateY(2px);
    display: flex;
    color: white;
    opacity: 0.7;
    text-decoration: none;
    font-family: Outfit;
}

.logo {
    margin: 0px;
    opacity: 0.95;
    padding-top: 5px;
    font-family: Outfit;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 1px;
    transform: translateY(16px) translateX(12px);
}
 .bg{
    position:fixed;
    
    filter: brightness(0.7);
    z-index: -10;
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.1s ease;
  }
  .nav-cont{
    position:fixed;
    margin-top: 40px;
    z-index: 1;
    padding: 0px 5px 0px 30px;
    border-radius: 40px;
    display: flex;
    gap: 445px;
    width: 1100px;
    background-color: rgba(0, 0, 0, 0.067);
    backdrop-filter: blur(12px);
  }
  .nav-cont .log-in {
    transform: translateY(-12px);
    padding-top: 12px;
    font-family: outfit;
    text-decoration: none;
      opacity: 1;
  }
  .nav {
    display: flex;
    gap: 68px;
    margin-top: 24px;
  }
  .main-navs {
    display: flex;
    gap:50px;
  }
  .phone , .laptop {
    transform: translateX(10px) translateY(1.5px);
    width: 22px;
    height: 22px;
  }
.log-in {
  border: none;
    padding: 19px 25px 15px;
    border-radius: 36px;
    font-size: 16px;
    color: black;
    background:linear-gradient(#fff, #ffffffb3);
}
.log-in img {
  transform: translateY(4px) translateX(7px);
}
.download {
  color: white;
  background: none;
  padding: 10px;
  backdrop-filter: blur(22px);
  border: 0.5px solid rgba(255, 255, 255, 0.241);
}
.main-cont {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 108px;
  transform: translateY(238px);
}
.main {
  display: flex;
  gap: 270px;
  height: 450px;
  transform: translateX(110px);
}
.main-view{
  transform: translateY(68px) ;
  width: 410px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.main-header {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap:5px;
}
.main-view h3 {
    font-family: Outfit;
        background-image: linear-gradient(#fff3, #fff3), linear-gradient(90deg,  #a4c8ff 20%, #bfa9ff 80%);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    font-weight: 500;
    margin: 0px;
    text-align: center;
    line-height: 1.1;
    width: 60%;
    font-size: 70px;
   
}
.main-view p {
    transform: translateX(-30px);
    opacity: 0.6;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: Outfit;
    font-size: 19px;
    font-weight:300;
    width: 70%;
    text-align: center;
}
.main-view h3 span {
    font-family: Parisienne;
    font-weight: 100;
}
.buttons button {
    font-family: Outfit;
    border-radius: 30px;
    font-size: 19px;
   padding: 20px 25px;
    display: flex;
  
}
.app-preview{
  transform: translateY(-93px) translateX(70px) rotate(-9deg);
  width: 250px;
  height: 530px;
  -webkit-mask-image: linear-gradient(to bottom,
    black 88%,         /* fully visible until 85% of height */
    transparent 100%   /* fade to transparent at bottom */
  );
  mask-image: linear-gradient(to bottom,
    black 70%,
    transparent 100%
  );

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.buttons {
  display: flex;
  transform: translateX(15px);
  gap: 50px;
}
.buttons .log-in {
  color: rgb(0, 0, 0);
  background: linear-gradient(90deg,  #a4c8ff, #bfa9ff);
}

.buttons img {
   transform: translateX(7px) translateY(2.5px);
   
}
.buttons button {
    font-family: Outfit;
    border-radius: 30px;
    font-size: 19px;
   padding: 15px 25px;
    display: flex;
  
}
.introduction  {
  font-family: Outfit;
  margin-bottom: 100px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Outfit;
  margin-bottom: 100px;

}
.first {
  padding: 13px 19px;
  font-weight: 600;
  background: linear-gradient(90deg, rgb(255, 255, 255), rgb(175, 235, 251));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  backdrop-filter: blur(8px);
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.262);
}
.intro-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 65%;
}
.intro-about h3{
   background: linear-gradient(90deg, rgb(255, 255, 255), rgb(174, 237, 255));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  font-size: 49px;
  line-height: 1.1;
  font-weight: 600;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.intro-about p , .features p{
  opacity: 0.5;
  font-size: 18px;
}
.intro-devices {
 -webkit-mask-image: linear-gradient(to bottom,
    black 70%,         /* fully visible until 85% of height */
    transparent 100%   /* fade to transparent at bottom */
  );
  mask-image: linear-gradient(to bottom,
    black 70%,
    transparent 100%
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  margin-top: 40px;
  transform: translateX(-30px);
  height: 600px;
  width: 1000px;
}
.introduction .buttons {
  margin-top: 50px;

}
.features .first {
  padding: 10px 21px ;
  font-weight: 600;
  position: relative;
  width: 70px;
  opacity: 0.66;
  background: linear-gradient(90deg, #a4c8ff, #bfa9ff);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.feature {
  margin-top: 50px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}
.feature h2{
  font-size: 53px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  opacity: 0.9;
  background: linear-gradient(90deg, #a4c8ff, #bfa9ff);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.second h2 , .third h2{
   
  background: linear-gradient( white, rgba(233, 232, 232, 0.699));
 -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

