body, html {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    color: white;
    font-family: Outfit;

}
body {
    filter: brightness(0) blur(3px);
    transition: all 1.5s ease-in-out;
}
.main-display {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap:80px;
    
    height: 100%;
    backdrop-filter: blur(12px);
    background-color: rgba(0, 0, 0, 0.363);
    
}
input::-ms-reveal,
input::-ms-clear,
input::-webkit-credentials-auto-fill-button {
  display: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}

input[type="password"]::-ms-reveal {
  display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
button {
    font-family: Outfit;
    transition: all 0.5s ease;
    border: none;
    color: white;
    background: rgba(0, 0, 0, 0.167);
    border-radius: 12px;
    width: 97%;
}
h2 {
    margin: 0;
    opacity: 0.92;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1;
    width: 100%;
    font-size: 42px;
    background: linear-gradient(to right, #fff 60%, rgba(216, 216, 216, 0.832) 100%);
    -webkit-background-clip: text;
    background-clip:var(agreements);
    -webkit-text-fill-color: transparent;
    transition: opacity 1s ease;
}    
h3 {
    margin: 0;
    font-weight: 400;
    text-align: center;
    font-size: 33px;
    background: linear-gradient(to right, #fff 60%, rgba(216, 216, 216, 0.832) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1 {
    margin-top: 28px;
    font-size: 28px;
    font-weight: 500;
    opacity: 0;
    color: white;
    transition: opacity 0.5s ease;
}
a{
    
    color: white;
}
.bg{
    opacity: 1;
    height: 100%;
    width: 100%;
    object-fit:cover;
    position: fixed;
    filter: brightness(0.8);
    z-index: -30000000;
    transition: all 0.5s ease;
}
#welcome-bg{
    transition: all 1s ease;
    filter: brightness(0);
}
.log-in-section {
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.log-in-content {

    transition: all 0.5s ease-in;
    display: flex;
        flex-direction: column;
         gap: 25px;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: opacity 0.5s ease;
}
#choice-google img, .email {

    width: 18px;
    height: 18px;

}
.email{
   position: absolute;
    left:  20px;
    top: 23px;
   
}
#choice-google img {
    position: absolute;
    left:  20px;
    top: 23px;
    width: 17px;
    height: 17px;
}
.buttons button {
    position: relative;
    cursor: pointer;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    padding-right: 100px;
    padding-bottom: 7px;
    padding-top: 5px;
    padding-left: 55px;
    height: 64px;
}
.password input {
    width: 97%;
}
#choice-email:hover{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.264);
     box-shadow: 
            inset 1px 2px 32px rgba(203, 203, 203, 0.1), 
            inset 0 30px 30px rgba(0, 0, 0, 0), 
            0 2px 6px rgba(0, 0, 0, 0.3); 
}
#choice-google::before {
    opacity: 0;
      content: "";
      position: absolute;
      inset: -1px ;

      border-radius: inherit;
      padding: 1px 1px 2px 1px;
      background: linear-gradient(90deg, #ff0057, #ff7d00, #00ff9d, #0077ff, #c300ff, #ff0057);
      background-size: 300% 300%;
      animation: borderAnim 6s linear infinite;
      z-index: -1;
      mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask-composite: destination-out;
      transition: opacity 0.3s ease;
    }
    #choice-google:hover::before {
      opacity: 1;
    }

    @keyframes borderAnim {
      0% {
        background-position: 0% 50%;
      }
      100% {
        background-position: 100% 50%;
      }
    }

.agreements {
    font-size: 14px;
    margin-top: 0;
    font-weight: 100;
    transition: all 1s ease;
    opacity: 0.35;
}
.agreements a{
    text-decoration: underline;
    text-decoration-thickness: 0;
    text-decoration-color: rgba(255, 255, 255, 0.788);
    color: white;
}
.email-continue {
    position: absolute;
    width: 24.5px;
    top: 19px;
    opacity: 0.8;
    right: 20px;
}
form, .mini-nav {
    display: none;
}
.mini-nav {
    justify-content: space-between;
    font-weight: 100;
}
.choice-log-in {
    display: flex;
    gap: 12px;
}
#log-in {
    background: rgba(255, 255, 255, 0.044);
    font-size: 14px;
    
}
.choice-log-in p {
    margin: 0px;
    font-size: 15px;
    width: 289%;
    opacity: 0.4;
    margin-top: 5px;
}
form {
    flex-direction: column;
    gap: 17px;
    transition: opacity 1s ease;
}

#hidden  {
    position: absolute;
    right: 0;
    top: 20px;
    cursor: pointer;
    width: 20px;
    opacity: 0.5;
    
}
input , form button {
    height: 55px;
    border-radius: 9px;
    font-weight: 300;
    font-family: outfit;
    font-size: 16px;
    color: white;
    background-color: transparent;
    transition: all 0.5s ease;
    border: 1px solid rgba(255, 255, 255, 0.284);
}
.password {
    position: relative;
    width: 97%;
}
input{
    padding-left: 20px;
}
input:not(:placeholder-shown) {
      border-color: rgb(205, 255, 205);
      box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.186);
     
    }
input::placeholder {
    color: white;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 200;
}
 input:focus {
    border: 1px solid rgba(255, 255, 255, 0.384);
    outline: none;
    
}
.register , #pass-recover button {
    cursor: pointer;
    height: 59px;
    font-weight: 400;
    font-size: 17px;
    background: rgba(255, 255, 255, 0.034);
    border: 1.2px solid rgba(255, 255, 255, 0.258);
}
#pass-recover button {
    transform: translateY(12px);
    background-color: rgba(255, 255, 255, 0.899);
    border: none;
    color: black;
}
.red-border {
  border: 1px solid rgb(77, 23, 23);
}

.forgot {
    display: none;
    font-weight: 100;
    opacity: 0.7;
    font-size: 14.5px;
    margin-top: 5px;
    cursor: pointer;
}
#pass-recover {
    display: none;
    flex-direction: column;
    gap: 10px;
}
#pass-recover p {
    font-weight: 100;
    
    opacity: 0.5;
}
.back {
    font-size: 14px;
    align-self: center;
    transform: translateX(-2px) translateY(13px);
    opacity: 0.6;
}

#message {
    width: 50%;
    text-align: center;
    display: none;
    gap: 10px;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    top: 27.5%;
    left: 23%;
    background-color: rgba(0, 0, 0, 0.199);
    backdrop-filter: blur(14px);
    height: 200px;
    border-radius: 20px;
    padding: 30px;
    padding-top: 70px;
    transition: all 0.5s ease;
   
}
#message p{
    font-weight: 200;
    opacity: 0.66;
}
#message p span {
    font-weight: bold;
    opacity: 1;
}

@media (min-width:768px) {
    .main-display {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        width: 100%;
        margin-left: 35px;
        backdrop-filter: none;
        background-color: rgba(0, 0, 0, 0)
    }
    .log-in-section {
        width: 70%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.579);
        justify-content: center;
        backdrop-filter: blur(17px);
    }
    .log-in-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 70px;
    }
    h2 {
        width: unset;
        margin-bottom: 38px;
    }
    h1 {
        font-size: 33px;
    }
    .buttons button {
        text-align: left;
        padding-left: 60px;
        height: 75px;
        padding-top: 8px;
        font-size: 18px;
    }
    #choice-google img, .email {
        height: 21px;
        width: 21px;
        top: 27px;
        left: 22px;
    }
    .email-continue{
        width: 26px;
        top: 23px;
    }
    .agreements {
        margin-top: 23px;
        font-size: 14.5px;
    }
    button {
        background: rgba(255, 255, 255, 0.036);
        backdrop-filter: none;
    }
}